@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Base submenu hidden */
.p-menubar .menu-hover-only > .p-submenu-list {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(6px);
  transition: all 0.2s ease;

  pointer-events: none;
  z-index: -999;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* ✅ Hover ONLY for Menu */
.p-menubar .menu-hover-only:hover > .p-submenu-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
